/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.text-linethrough {
  text-decoration: line-through;
}

button > * {
  pointer-events: none;
}

.btn:focus {
  box-shadow: none;
}

.task-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid gray;
  margin-right: 0.5rem;
}

.task-circle svg {
  width: 16px;
  height: 16px;
  margin: -9px 0 8px -8px;
  opacity: 0;
}

.task-circle--checked svg {
  opacity: 1;
}

.btn-task {
  padding: 0;
}
